$color-light-blue: rgb(144, 234, 230);
$color-blue-2: rgb(231, 236, 239);
$color-blue-3: rgb(110, 249, 208);
$color-grey: rgb(168, 168, 168);
$color-blue: rgb(106, 44, 216);
$main-font: "Poppins", sans-serif;
$color-white: #fff;
$color-red: rgba(255, 0, 0, 0.801);
$default-border: 0.5px rgb(163, 163, 163) solid;
$color-black: #000;
$color-room-active: rgb(60, 60, 60);
$color-text-opacity: rgba(0, 0, 0, 0.6);
$color-user-active: rgb(85, 202, 54);
$color-bg-sidebar: rgb(36, 36, 36);
$default-transition: all 0.3s ease;
$color-black-light: #e7e7e7;
$color-black-light-1: #888;
$break-point-tablet: 1024px;
$break-point-tablet-small: 768px;
